* {
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
div{
	width:200px;
	height:200px;
	position: relative;
}
.uno {
	background-color: #ee3e64;
}
.dos {
	background-color: #44accf;
}
.tres {
	background-color: #b7d84b;
}
